.button {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 12px;
  background-color: lightgray;
  color: black;
  cursor: pointer;
  outline: none;
  transition: all 250ms ease-in-out;

  &:hover,
  &:focus {
    background-color: gray;
    color: white;
  }
}
