.searchBarForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.searchBarInput {
  min-width: 320px;
  padding: 12px;
  border-radius: 8px;
  font-size: 18px;
  outline: none;
  transition: all 250ms ease-in-out;

  &:focus {
    border-color: lightskyblue;
  }
}
