.imageGallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 32px 0;
  margin: 0 auto;
}

.imageCard {
  width: calc(50% - 6px);

  @media screen and (min-width: 768px) {
    width: calc(33.333% - 8px);
  }

  @media screen and (min-width: 1280px) {
    width: calc(25% - 9px);
  }
}
